
.icon-size{
    font-size: 24px;
}
.nav-bg{
    background-color: rgba(128, 128, 128);
}
.object-cover{
    object-fit: cover;
    height: 300px;
}
.object-fit-cover {
    object-fit: cover;
}
.product-detail{ 
    img:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}
.btn-item{
    border-radius: 100px;
}
.btn-heckboxRadio{
  border-radius: 100px;
  width: 183px;
  height: 49px;
  align-content: space-around;
}
.btn-item-1{
  width: 183px;
  border-radius: 100px;
  height: 49px;
}

.product-img-text{
    background-color: #fff;
    width: 488px;
    height: 202px;
    border-radius: 50px;
    opacity: .7;
}
.borderless tr td {
    border: none !important;
    padding: 0px !important;
}
input::placeholder {
    color: #ffffff !important;
  }
  

// .checkout-steps {
//   width: 100%;
//     margin: auto;
//     display: -webkit-flex;
//     display: -moz-box;
//     display: flex;
//     -webkit-justify-content: space-between;
//     -moz-box-pack: justify;
//     justify-content: space-between;
//     div:not(:first-child) > div:first-child:before {
//       content: '';
//       display: block;
//       width: 178%;
//       height: 1.2px;
//       position: absolute;
//       right: 100%;
//       background: $primary;
//       transform: translateY(-50%);
//       z-index: -1;
//     }
//     .checkout-item {
//       display: -webkit-flex;
//       display: -moz-box;
//       display: flex;
//       -webkit-flex-direction: column;
//       -moz-box-orient: vertical;
//       -moz-box-direction: normal;
//       flex-direction: column;
//       -webkit-align-items: center;
//       -moz-box-align: center;
//       align-items: center;
//       .checkout-item >div:first-child {
//         //數字圈圈
//         position: relative;
//         width: 120px;
//         height: 120px;
//         border-radius: 50%;
//         font-size: 14px;
//         display: -webkit-flex;
//         display: -moz-box;
//         display: flex;
//         -webkit-align-items: center;
//         -moz-box-align: center;
//         align-items: center;
//         -webkit-justify-content: center;
//         -moz-box-pack: center;
//         justify-content: center;
//         border-width: 1px;
//         border-style: solid;
//         z-index: 0;
//       }
//     }
//     .checkout-done {
//       div:first-child {
//         color: #ffffff;
//         border-color: $primary;
//         background-color: $primary;
//       }
//     }
//     .checkout-undone {
//       div:first-child {
//         color: $primary;
//         border-color: $primary;
//         background-color: #ffffff;
//         opacity: 0.4;
//       }
//     }
//   }

.checkout-steps {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;

  .checkout-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 4%;
      height: 1.2px;
      background: $primary;
      width: calc(100% - 60px); // 調整連接線的長度
      transform: translateY(-50%);
      z-index: 0;
    }

    > div:first-child {
      // 數字圈圈
      position: relative;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-width: 1px;
      border-style: solid;
      z-index: 1; // 確保在連接線之上
      background: #ffffff;
    }
  }

  .checkout-done {
    > div:first-child {
      color: #ffffff;
      border-color: $primary;
      background-color: $primary;
    }
  }

  .checkout-undone {
    > div:first-child {
      color: $primary;
      border-color: $primary;
      background-color: #ffffff;
      opacity: 1;
    }
  }
}


  hr.new1{
opacity: 1 !important;
  color: #ffffff !important;
  }
  .thead-border{
    border-bottom: 1px solid #ffffff;
  }
  .btn-light {
    --bs-btn-color: #AD8F7E;
    --bs-btn-bg: #ffffff;
    --bs-btn-border-color: #ffffff;
    --bs-btn-hover-color: #AD8F7E;
    --bs-btn-hover-bg: #d3d4d5;
    --bs-btn-hover-border-color: #c6c7c8;
    --bs-btn-focus-shadow-rgb: 211, 212, 213;
    --bs-btn-active-color: #AD8F7E;
    --bs-btn-active-bg: #f8f9fac8;
    /* --bs-btn-active-border-color: #babbbc; */
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #f8f9fa;
    --bs-btn-disabled-border-color: #f8f9fa;
}


.tablePadding{
  padding: 60px 100px 60px 100px; 
}

.product-card {
  width: 285px;
}

.product-card img {
  object-fit: cover;
  width: 100%;
 /* 调整图片高度以适应卡片 */
}
.navbar-toggler:focus {

  box-shadow: none !important;
}
.left-img-container {
  position: relative;
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  overflow: hidden;
  border-radius: 50%;
}
.home-img-container{
  position: relative;
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.home-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.left-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
@media(max-width:992px){
  .tablePadding{
    padding: 60px 20px 60px 20px; 
  }
}
@media (max-width: 767.98px) {
  .mb-60 {
    margin-bottom: 60px;
  }
  .left-img-container {
    width: 24%; /* Adjust width to allow two images in a row */
    padding-top: 24%; /* Maintain aspect ratio */
    margin-bottom: 1.25rem; 
    margin-top: 1.25rem; 
    margin-right: 20px;
  }
  .product-detail-img {
    display: flex;
    flex-wrap: wrap;
  }
  .navbar-toggler:hover {
    text-decoration: none;
}
.checkout-item{
  div:first-child {
    //數字圈圈
    position: relative;
    width: 120x;
    height: 120px;
    font-size: 14px;
  
  }
}
.navbar-collapse {
  background: #AD8F7E;
  padding-bottom: 40px;
}
#search-container {
  margin-left: 120px !important;
  margin-right: 120px !important;
}
}


